/* Common Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

/* Banner Css */

.banner {
  padding: 250px 0;
  background: url("../assets/banner-Image.png"),
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
}

.banner_container {
  max-width: 632px;
  margin: 0 auto;
}

.banner_subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.banner_title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Category Css */

.category {
  padding: 120px 0;
}

.category_container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.discount_text {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.category_sub_title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.category_title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
