/* Common Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.section_subtitile {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #f00;
  padding: 15px 30px;
  border-radius: 10px;
  display: inline-block;
}

/* Banner Css */

.banner {
  padding: 250px 0;
  background: url("../assets/banner-Image.png"),
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: multiply;
  color: #fff;
}

.banner_container {
  max-width: 632px;
  margin: 0 auto;
  text-align: center;
}

.banner_subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.banner_title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* Category Css */

.category {
  padding: 120px 0;
}

.category_container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.discount_text {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.category_sub_title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.category_title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

/* Party Section */
.party {
  padding: 130px 40px;
  background: url("../assets/party-img.png"),
    linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: multiply;
  color: #fff;
}

.party_container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}

.party_txt {
  flex-basis: 60%;
  align-self: center;
}

.party_title {
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}

.party_subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}

.party_img {
  flex-basis: 40%;
  text-align: right;
}

.party_img img {
  max-width: 320px;
}

/* CTA CSS */

.cta {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 120px;
  padding: 110px 0;
}

.cta_container {
  text-align: center;
  max-width: 576px;
  margin: 0 auto;
}

.red {
  color: #f00;
}

.event_txt {
  margin-bottom: 48px;
}

.event_time {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

/* Coming Soon CSS */
.coming_soon {
  padding: 120px 40px;
}

.coming_soon_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.offer_container {
  align-self: center;
}

.offer_title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.offer_description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.offer_img {
  text-align: center;
}

.img_wrapper {
  padding: 50px;
  border: 15px solid #f00;
  display: inline-block;
  border-radius: 50%;
}

.offer_year_container {
  align-self: center;
}

.offer_year {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.year_txt {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 42px;
}

.offer_year_img {
  width: 140px;
}

/* Portfolio Css */

.portfolio {
  padding: 120px 40px;
}

.protfolio_desc {
  margin-bottom: 48px;
}

.portfolio_title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.portofolio_txt {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 876px;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio_item {
  overflow: hidden;
  border-radius: 40px;
}

.protfolio_img {
  width: 100%;
  transition: all 0.4s ease-in-out;
  transform: scale(1) rotate(0);
}

.portfolio_item:hover > .protfolio_img {
  transform: scale(1.3) rotate(15deg);
}

/* Newsletter Section */

.newsletter {
  padding: 80px 0;
  background: rgba(255, 0, 0, 0.05);
}

.newsletter_container {
  text-align: center;
  max-width: 876px;
  margin: 0 auto;
}

.mail_img {
  display: inline-block;
  margin-bottom: 40px;
}

.newsletter_title {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.newsletter_txt {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

.newsletter_form_container {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
}

.newsletter_field {
  background-color: #fff;
  width: 100%;
  display: inline-block;
  height: 72px;
  padding: 24px;
  border-radius: 50px 0 0 50px;
  border: none;
  outline: none;
}

.newsletter_field::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.newsletter_btn {
  display: inline-block;
  background-color: #f00;
  color: #fff;
  padding: 24px 56px;
  border-radius: 0 50px 50px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
